# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

neben_app/dist
neben_app/node_modules
neben_app/platforms
neben_app/plugins
neben_app/www

neben_back/node_modules
neben_back/dist
